
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutPage1.cshtml";
}

<br />
<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Pregled mjenica", "PregledMjenica", "AdminMjenica", new { area = "admin" }, null)</li>
</ul>
